<header>
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo"><img src="/logo1.png" alt="BurnLink" /></a>
      <nav>
        <a href="/"<%- activePage === "home" ? ' class="active"' : "" %>>Home</a>
        <a href="/about"<%- activePage === "about" ? ' class="active"' : "" %>>About</a>
        <a href="/changelog"<%- activePage === "changelog" ? ' class="active"' : "" %>>Changelog</a>
        <a href="/roadmap"<%- activePage === "roadmap" ? ' class="active"' : "" %>>Roadmap</a>
      </nav>
    </div>
  </div>
</header>
