SUPABASE_URL=https://gvlynejwswlwyobpptpe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2bHluZWp3c3dsd3lvYnBwdHBlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjEyMTE4NSwiZXhwIjoyMDg3Njk3MTg1fQ.qTeEI-0jW-5r6DHabK8tQD9Vymt8Lhlquzb_7Kc-F9c
SUPABASE_FILES_TABLE=files
SUPABASE_STORAGE_BUCKET=files
MAX_UPLOAD_BYTES=0
PORT=3000
PORT_RETRIES=10
